BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -2
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SpaceAfterCStyleCast: true
PointerAlignment: Left
